<p>I am currently contracting for <b>Yum! Brands</b> in Plano and I am looking for new opportunities. I am proficient in many web technologies, both client and server-side.</p>
<p>Some of my skills include:</p>
<ul>
    <li><b>JavaScript</b></li>
    <li><b>Python</b></li>
    <li><b>Angular io/JS</b></li>
    <li><b>React Native/JS</b></li>
    <li><b>Redux</b></li>
    <li><b>Typescript</b></li>
    <li><b>NodeJs</b></li>
    <li><b>mongo</b></li>
    <li><b>SQL</b></li>
    <li><b>HTML</b></li>
    <li><b>CSS/SCSS</b></li>
    <li><b>Django</b></li>
</ul>
